<h1>Showing article details</h1>
<!-- <table>
    <th>
       <td> Title:<strong><%= @article.title %></strong></td> <br>
        <td>Description:<strong><%= @article.description %></strong></td>
    </th>
</table> -->

<strong>Title:</strong> <%= @article.title %><br>
<strong>Description:</strong> <%= @article.description %>