<div class="div">
    This is the homepage. Let's end this session quickly and move onto the working of the other sections.
</div>

<%= link_to 'Articles listing', articles_path %>

|

<%= link_to 'About page', about_path %>